<head>
<link rel="stylesheet" href="/specialty.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tourney&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Tourney&display=swap" rel="stylesheet">
</head>

<body>
<h2>Specialty Pizza</h2>
<div class="content">
<div class="specialty-info">
<p>Name: {{pizza.name}}</p>
<p>Price: ${{pizza.price}}.00</p>
<a href="/">Back to Homepage</a>
</div>
</div>
<div class="img-container">
    <img id="planet" src="/pink-planet.jpg" alt="planet">
</div>
</body>